.index.html{background-color: darkslategrey;}
.A{
 text-align: center;
 color: aquamarine;
}
 
.b{
    text-align: center;
    color: aquamarine;
}
.c{
    text-align: center;

    color: aquamarine;
    
}
.d{
    text-align: center;
    color: aquamarine;
}


